body {
    background-color:rgb(11, 9, 12);
    color:darkgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 72px;
    text-decoration-line: overline;
    text-decoration-color: darkolivegreen;
}

a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    margin: 0 auto;
}

/*Remove hyperlinks in lists*/

ul {
    padding:10px;
    list-style: none;
}
/*Navigation Pane*/


.nav-pane {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold green;
    text-decoration:none;
    font-style:bold;
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: 24px;
} 
/*navigation pane link functions*/ 

a:hover {
    color:greenyellow;
}

.a:active {
    color:olive;
}

/*Navigation Bar Left*/
#first-list {
    display: flex;
}

#second-list {
    display: flex;
}

li {
    padding:1%;
}
.nav-section-1 {
    position: relative;
    margin:auto;
    display: flex;
    justify-content: center;
}

/*Navigation Bar Middle*/

.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold;
    color:whitesmoke;
    width: 100%;
    text-align: center;
    text-decoration-line: overline;
    text-decoration-color: darkolivegreen;
}
/*Navigation Bar Right*/

.nav-section-2 {
    position: relative;
    margin:auto;
    margin-left:1%;
    display: flex;
    justify-content: center;
}

/*Heading*/

h1 {
   font-size: 48px;
   text-decoration-line: overline;
   text-decoration-color: darkolivegreen;
}

.heading-image {
    border-top:whitesmoke solid thick; 
    border-bottom: whitesmoke solid thick;
    width: 100%;
}
/*Project Cards*/

/*Featured Card*/

#featured-project {
    display: inline-flex;
    width: 100%;
    position: relative;
}

#featured-project:hover .featured-image {
    opacity: 0.3;
}

#featured-project:hover .middle {
    opacity: 1;
}

.featured-image {
    width:80%;
    opacity: 1;
    display: flex;
    margin: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border: whitesmoke solid thick;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}
.feature-info {
    background-color: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 48px;
    margin-top:-25px;
}

.feature-tools {
    background-color:none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 28px;
    margin-top: -25px;
}

/*All other cards*/

.cards:hover .card-image {
    opacity: 0.3;
}

.cards:hover .middle-card {
    opacity: 1;
}
.cards {
    display: inline-flex;
    padding:0 0.5% 0 1.5%;
    width: 30%;
}

.middle-card {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(150%,-300%);
    margin-left:-5%;
}

.card-image {
    height: 500px;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border: whitesmoke solid thick;
}

.card-info {
    color: white;
    font-size: 24px;
}

.card-tools {
    color: white;
    font-size: 16px;
    padding-left: 25%;
}

/*About Me*/
#about-me {
    margin-bottom:5%;
}

.pro-pic {
    height: 450px;
    width: 325px;
    margin:0 2% 0 5%;
    border: whitesmoke solid thick;
    float: left;
}

.bio {
  font-size: x-large;
  line-height: 1;
  width: 100%;
}

#my-name-is {
    font-size: xx-large;
}
/*Contact me*/

.wrap {
    width: 100%;
}

.contact-type {
    text-align: center; 
    font-size: 48px;
}

.personal-contact {
    text-align: center;
    font-size: 36px;
}

/*Footer*/

#footer {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: darkolivegreen;
    background-color: black;
    border-top:whitesmoke solid thick;
    text-align: center;
    padding-top:0.8%;
}


/*Media Queries*/

/*Source- https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .body {
        background-color:rgb(11, 9, 12);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: auto;
        text-wrap: wrap;
        font-size:medium;
        color: whitesmoke;
    }
    .nav-pane {
        flex-direction: column;
    }
    .nav-section-1 {
        display: flex;
        justify-content: center;
    }
    .heading-image {
        height: 400px;
    }
    h1 {
        margin:0;
    }
    .featured-image {
        width: 95%;
        height: 500px;
    }
    a {
        width: 100%;
    }
    .cards {
        width:97%;
    }
    .card-image {
        width: 95%;
    }
    .pro-pic {
        width: 97%;
        margin: 1%;
    }
    .my-name-is {
        margin: auto;
        text-align: center;
    }
    p {
        margin:auto;
        text-align: center;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .body {
        background-color:rgb(11, 9, 12);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: auto;
        text-wrap: wrap;
        font-size:medium;
        color: whitesmoke;
    }
    .featured-project {
        padding-bottom: 100px;
    }
    .card-image {
        margin-left: 25px;
        width: 100%;
    }
    h2 {
        padding-top: 100px;
    }
}
