body {
    background-color:rgb(11, 9, 12);
    color:darkgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: center;
    padding-top:100px;
    padding-bottom: 20px;
    font-size: 72px;
    text-decoration-line: overline;
    text-decoration-color: darkolivegreen;
}

a {
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

/*Remove hyperlinks in lists*/
ul {
    padding:10px;
    list-style: none;
}

/*Navigation Pane*/

header {
   display: flex; 
   flex-wrap: wrap;
}

.nav-pane {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold green;
    text-decoration:none;
    font-style:bold;
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: 24px;
    color:forestgreen;
} 
/*navigation pane link functions*/ 
li:hover {
    color:greenyellow;
}

li:active {
    color:olive;
}

/*Navigation Bar Left*/
.nav-section-1 {
    position: relative;
    right:auto;
    margin-left:20px;  
}

.nav-bar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Navigation Bar Middle*/
.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold green;
    color:whitesmoke;
    margin-left: -10%;
}
/*Navigation Bar Right*/
.nav-section-2 {
    text-align: right;
}

/*Heading*/
h1 {
    position: absolute;
   font-size: 48px;
   text-decoration-line: overline;
   text-decoration-color: darkolivegreen;
}

.heading-image {
    border-top:whitesmoke solid thick; 
    border-bottom: whitesmoke solid thick;
    width: 100%;
}
/*Project Cards*/

/*Featured Card*/

#featured-project {
    display: inline-flex;
    width: 100%;
    padding-bottom:100px;
    position: relative;
}

#featured-project:hover .featured-image {
    opacity: 0.3;
}

#featured-project:hover .middle {
    opacity: 1;
}

.featured-image {
    width:1500px;
    height:500px;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border: papayawhip solid thick;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}
.feature-info {
    background-color: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 48px;
    margin-top:-25px;
    font-family: 'Lobster';
}

.feature-tools {
    background-color:none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 28px;
    margin-top: -25px;
}

/*All other cards*/
.cards:hover .card-image {
    opacity: 0.3;
}

.cards:hover .middle-card {
    opacity: 1;
}
.cards {
    display: inline-flex;
    margin-left: 1.5%;
    margin-right: auto;
    width: 30%;
}

.middle-card {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(150%,-300%);
}

.card-image {
    margin-left: 25px;
    width:500px;
    height: 500px;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border: whitesmoke solid thick;
}

.card-info {
    color: white;
    font-size: 24px;
}

.card-tools {
    color: white;
    font-size: 16px;
    padding-left: 25%;
}

/*About Me*/

.pro-pic {
    height: 500px;
    width: 350px;
    margin-left:77px;
    border: whitesmoke solid thick;
}

#my-name-is {
    width: 75%;
    margin-left: 30%;
    position: absolute;
    margin-top:-25%;
    font-size: 42px;
}
.bio {
    position: absolute;
    padding-left: 100px;
    margin-top:100px;
}
.#info-me {
    
}

#info-fam {
    
}
/*Contact me*/
.wrap {
    display: inline-flex;
    margin-top: -75%;
    width: 100%;
}

.phone {
    width: 50%;
    margin-right:35%;
    margin-left:20%;

}

.email {
    width: 50%;
    margin-left: -25%;
    margin-right: 20%;
}

.contact-type {
    text-align: center; 
    font-size: 48px;
    margin-bottom: -20%px;
}

.personal-contact {
    text-align: center;
    font-size: 36px;
}

/*Media Queries*/
/*Source- UCD-SAC-VIRT-FSF-PT-06-2021-U-C: 02-Advanced, 01-Activities, 01-Ins_media-query-screen*/
/* Tablets*/
@media screen and (max-width: 992px) {
    .cards {
      width:50%;
    }
  }
  
  /* Large smartphones*/
  @media screen and (max-width: 768px) {
    .cards {
      width: 75%;
    }
  }
  
  /* Small smartphones*/
  @media screen and (max-width: 576px) {
    .cards {
      width: 85%;
    }
  }